<div class="container">
  <h1>Reviews</h1>
  <p>Here you can read some of the reviews that famous people give to our store:</p>
  <blockquote>
    <p>We loved the beautiful design, and the quality was excellent when we got the work. Very unique work, which we also love. The deals are also pretty super when you compare with other sites.</p>
    <footer>VK team</footer>
  </blockquote>

  <blockquote>
    <p>Excellent! Every time I have ordered something from EStore my experience has been terrific. Great prices and quality service. And they are not located in my state so that's an additional 8% discount because of no sales tax.</p>
    <footer>Johnny Depp</footer>
  </blockquote>
</div>
