<div class='container' id='add_item'>
<input type='number' id='quantity' style= width:3%>
<input type='submit' class="btn btn-info" value='To busket' id='item_busket'>
<input type='hidden' id='name_id' value=<%=product_id%> >
</div>